body, html {
    height: 100%;
    width: 100%;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font: normal normal normal 2.0em/1.8 Montserrat, sans-serif; /* currently ems cause chrome bug misinterpreting rems on body element */
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  overflow-x: hidden; }

.pagewrapper {
  width: 100%;25px 0px 25px 25px
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom,  rgba(100, 149, 237,1) 0,rgba(0,0,0,0) 25rem);
}
.contentwrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  }
nav a {
  flex-grow: 1;
  text-align: center;
  padding: 3rem 0;
  font: 1.8rem 'Montserrat', sans-serif;
  font-weight: lighter;
  color: white;
  transition: text-shadow 0.1s;
  text-decoration: none;  }
nav a:hover {
  text-shadow: 0 0 0.4rem white; }
nav a.active {
  text-shadow: 0 0 0.4rem white; }
h1, h2, h3 {
  font-family: Montserrat;
  padding-left: 1rem;
}
h1 {
  font-weight: lighter; font-size: 3.2rem; line-height: 1.2;  letter-spacing: -.1rem; text-align: center;
  }
h2 {
  font-weight: lighter; font-size: 2.8rem; line-height: 1.2;  letter-spacing: -.1rem;
  }
h3 {
  font-weight: normal; font-size: 2.4rem; line-height: 1.2;  letter-spacing: -.1rem;
  margin-bottom: 0.5rem;
}
p,a,li {
  font-weight: normal; font-size: 1.6rem; line-height: 1.8;
  max-width: 600px;
  color: inherit;
  padding-left: 1rem;
}
@media screen and (min-width: 500px) {
  h1 {font-size: 4.2rem;}
  h2 {font-size: 3.4rem;}
  h3 {font-size: 2.8rem;}
  p,a,li {font-size: 1.8rem;}
  nav a {font-size: 2rem;}
}
@media screen and (min-width: 750px) {
  h1 {font-size: 6rem;}
  h2 {font-size: 4rem;}
  h3 {font-size: 3.2rem;}
  p,a,li {font-size: 2rem;}
  nav a {font-size: 2.2rem;}
}
sub {
  font-family: Montserrat; font-weight: bolder; font-size: 2rem; line-height: 1.8;
  color: inherit;
}
.tabfont {
  font-family: Montserrat; font-weight: lighter;
  margin-top: 0;
}

.content {
  max-width: 850px;
  width: 100%;
  background-color: white;
  border-radius: 25px 25px 0 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

/*Tabela*/
.tabcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;}
.tabwrapper {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.tabcontainer a {
  width: 320px;
  box-sizing: border-box;
  padding: 3rem 1rem 1rem 1rem;
  margin: 0;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
  text-decoration: none;
  color: black;
  text-align: center;
}
.hover:hover {
  background-color: rgb(235, 235, 235);
}
.tabimg {
  width: 100%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}
footer {
  width: 100%;
  background-color: cornflowerblue;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  box-sizing: border-box;

}
footer div {
  color: white;
  flex-grow: 1;
  box-sizing: border-box;
}
.sendright {margin-left: auto;}
.sendcenter {text-align: center;}
.white {color: white;}
.fullwidth {width: 100%;}

@media screen and (max-height: 585px) {.hero {background-image: url("img/hero/hero-980x585.webp");}}
@media screen and (min-height: 586px) {.hero {background-image: url("img/hero/hero-1371x818.webp");}}
@media screen and (min-height: 818px) {.hero {background-image: url("img/hero/hero-1920x1145.webp");}}
@media screen and (min-height: 1145px) {.hero {background-image: url("img/hero/hero-2560x1527.webp");}}
@media screen and (min-height: 1527px) {.hero {background-image: url("img/hero-3383x2018.webp");}}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}
